.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 57px;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  padding: 0 1rem; /* changed from 3rem to 0 */
  z-index: 1000;
  border-bottom: 1px solid black;
}

.logo {
  font-weight: bold;
  text-decoration: none;
  font-family: sans-serif;
}

.links a {
  margin-left: 1rem;
  color: #ff69b4;
  text-decoration: none;
}

.links a:hover {
  color: #ff69b4;
}

.heading {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.burger {
  font-size: 24px;
  cursor: pointer;
  color: #000;
  margin-left: 1rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  max-width: 35rem;
  margin-left: 13rem;
}

.searchInput {
  flex: 1;
  border-top: none;
  border-left: none;
  border-bottom: none;
  padding: 0.7rem;
  outline: none;
  font-size: 1rem;
  background: transparent;
}

.searchButton {
  cursor: pointer;
  font-size: 1rem;
  color: #000;
  padding: 0.7rem;
  background: transparent;
  border: none;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #e18da4;
}

.button {
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  color: #000;
  background: transparent;
  border: none;
}

.buttonClass {
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.6rem;
  transition: background-color 0.3s ease;
}
.buttonClass:hover {
  background-color: #e18da4;
}

.languageSelector {
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.6rem;
  margin-left: 7rem;
}

.languageDropdown {
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.languageSelectorForMobile {
  visibility: hidden;
  max-width: 0px;
}

@media (max-width: 1111px) {
 .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
  align-items: center;
  padding: 0 1rem; /* changed from 3rem to 0 */
  z-index: 1000;
}
.languageSelectorForMobile{
  visibility: visible;
   border: 1px solid black;
  border-radius: 20px;
  padding: 0.6rem;
  max-width:5rem;
}
.languageDropdown {
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.searchContainer{
  margin-left: 0px;
}

  .searchInput{
    min-width: 1rem;
  }
  .createText,
   .languageSelector,
   .logo{
    visibility: hidden;
    max-width: 0px;
    margin:0px;
    padding: 0px;
  }
}

@media (max-width: 380px){
.searchInput{
    visibility: hidden;
    max-width: 0px;
    margin:0px;
    padding: 0px;
  }
  .searchContainer {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  max-width: 35rem;
}
.searchButton{
  font-size: 1.3rem;

}
}



